.search {
  .input-container {
    width:100%;
    height: 33px;
    border-radius: 16px;
    background-color: white;
    max-width: 350px;
    margin: auto auto;
    .vod-search {
      border-radius: 50px;
      width: 80%;
      background-color: transparent;
      color: #56788d;
      height:30px;
      margin-top:15px;
      padding-left: 6%;
    }
  }

  .search-card {
    width:100%;
    height:100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius:4px;
  }
  .search-error {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: rgba(255,255,255,0.25);
  }
  .search-card-title {
    font-size: 11px;
    color:white;
    text-overflow: clip;
  }
  .text-feild-close {
    color: #56788d;
    right: 10%;
    position: absolute;
    top: 22px;
    font-size:14px;
  }
}
